{% extends template('widget') %}

{% define data = {
    form: _widget.removeFromCartForm,
    config: _widget.config,
    cartItem: _widget.cartItem,
    isDisabled: _widget.isRemoveFromCartDisabled,
} %}

{% block body %}
    {{ form_start(data.form, {'action': path('cart/remove', {'sku': data.cartItem.sku, 'groupKey': data.cartItem.groupKey}) }) }}
        {% block form %}
            <div class="product-view__button-wrapper">
                <button type="submit" id="{{ data.form.vars.id }}_submit" name="{{ data.form.vars.id }}[submit]" class="cart__item-link cart__item-link--delete"><span>{{ 'global.remove_item' | trans }}</span></button>
            </div>
            <input id="{{ data.form.vars.id }}__token" name="{{ data.form.vars.id }}[_token]" class="input input--expand" type="hidden" placeholder="" value="{{ data.form._token.vars.value }}">
        {% endblock %}
    {{ form_end(data.form) }}
{% endblock %}
